*{
     padding:0px;
     margin:0px;
     font-family: 'Work Sans', sans-serif;
     
}
.banner{
      background-image: url("../images/banner1.png");
      width: 1600px;
      height:808px;    
}
.banner-details {
     margin:0px 283px 388px 792px;
     font-weight: 700px;
     font-size: 65px;
     line-height: 76px;
     text-align: right;
     align-items: baseline;
     color:#151414
}
.sub-banner{
     font-weight: 400px;
     font-size: 16px;
     line-height: 26px;
     text-align: right;
     color: #444343
}
.btn{
     font-weight: 600px;
     font-size: 20px;
     line-height: 23px;
     width: 160px;
     height:64px;
     border-radius: 5px;
     background: #F15B22;
}