*{
     padding:0px;
     margin:0px;
     font-family: 'Work Sans', sans-serif;
     
}
.banner{
      background-image: url("../images/banner1.png");
      width: 1600px;
      height:808px;
      background-size: cover;
      background-position: center;
      position: relative;
     
}


.banner-details{
     position: absolute;
     margin:90px 283px 388px 792px;
     font-weight: 700px;
     font-size: 65px;
     line-height: 76px;
     text-align: right;
     align-items: baseline;
     color:#151414
}
.sub-banner{
     font-weight: 400px;
     font-size: 16px;
     line-height: 26px;
     text-align: right;
     color: #444343;
     
}
.btn{
     font-weight: 600px;
     font-size: 20px;
     line-height: 23px;
     width: 160px;
     height:64px;
     border-radius: 5px;
     background: #F15B22;
}
.main{
     display: flex;
     align-items: center;
    
}
.left{
     width: 550px;
     height:550px;
     border-radius: 50%;
     background-position: center;
     margin:0px 0px 87px 277px;
}
.right{
     width: 416px;
     height:400px;
     margin:330px 0px 30px 80px;
     font-weight: 700px;
     font-size: 40px;
     line-height: 47px;
     color:#151414
}
.p{
     font-weight: 250px;
     font-size: 15px;
     line-height: 26px;
     color:#444343;
     margin-top:25px
}

.span{
     margin-right:10px;
     color:green
}
.para{
     text-align: center;
     margin-top:200px;
     font-weight: 700px;
     font-size: 35px;
}
.my-plans{
     width: 1141px;
     height:300px;
     display: flex;
     align-items:baseline;
     margin-left: 450px;
     
}
.my-target-1{
     width: 200px;
     height:180px;
     margin:50px 50px 0px 0px;
     line-height: 35px;
     color:#151414
}
.my-target-2{
     margin:50px 150px 30px 30px;
     line-height: 35px;
     color:#151414
}
.my-target-3{
     margin:50px 150px 30px 0px;
      line-height: 35px;
      color:#151414
 }
 .h4{
     font-weight: 300px;
      font-size: 25px;
      color: #737272
}
.mind-set{
     width:1140px;
     height:300px;
     background-image: url("../images/gradient2.png"),url("../images/watch.png");
     margin: 100px 230px 100px 430px;
     border-radius: 5px;
     background-position: right top;
         
}

.mindset-details{
     color:#FFFFFF;
     margin:100px 150px 100px 30px;
     padding:70px 150px 30px 30px;
     line-height: 35px;
 }
 .mindset-btn{
     font-weight: 600px;
     font-size: 20px;
     line-height: 23px;
     width: 160px;
     height:64px;
     border-radius: 5px;
     background-color:#FFFFFF;
     color:#F15B22;
     margin-top: 10px;
}
.footer{
     width:1600px;
     height:577px;
     background-color: #151414;
     display: flex;
     justify-content: space-between;
}