*{
     padding:0px;
     margin:0px;
     font-family: 'Work Sans', sans-serif;
     
}
.banner{
      background-image: url("../images/banner1.png");
      width: 1600px;
      height:808px;    
}
.banner-details {
     margin:0px 283px 388px 792px;
     font-weight: 700px;
     font-size: 65px;
     line-height: 76px;
     text-align: right;
     align-items: baseline;
     color:#151414
}
.sub-banner{
     font-weight: 400px;
     font-size: 16px;
     line-height: 26px;
     text-align: right;
     color: #444343
}
.btn{
     font-weight: 600px;
     font-size: 20px;
     line-height: 23px;
     width: 160px;
     height:64px;
     border-radius: 5px;
     background: #F15B22;
}
.main{
     display: flex;
     align-items: center;
}
.left{
     width: 550px;
     height:550px;
     z-index:0;
     background-position: center;
     margin:100px 0px 87px 277px;
}
.right{
     width: 416px;
     height:400px;
     margin:330px 0px 30px 80px;
     font-weight: 700px;
     font-size: 40px;
     line-height: 47px;
     color:#151414
}
.p{
     font-weight: 250px;
     font-size: 15px;
     line-height: 26px;
     color:#444343;
     margin-top:25px
}